.main-nav {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}

.background-image {
	background-image: image-url("negative-space-family-woman-children-dog-freestockpro-thumb-1.jpg");
	background-color: #cccccc;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: 100%;
}

.left-nav > ul,
.right-nav > ul {
	display: flex;
	align-items: center;
}

.left-nav {
	margin-left: 120px;
	cursor: pointer;
	font-family: Courier New;
	font-weight: bold;
	font-size: 35px;
	padding: 0px, 9px;
	color: #FFFFFF;
	text-decoration: none;
}

.right-nav > ul > li:last-of-type {
	margin-right: 200px;
}

.right-nav > ul > li {
	margin-left: 5px;
	font-family: Avenir,Helvetica Neue,Calibri,Helvetica,Roboto,sans-serif;
	cursor: pointer;
	margin-right: 30px;
	margin-top: 10px;
	font-size: 14px;
}

.sign-up-button {
	text-decoration: none;
	color: #FFFFFF;
}

.log-in-button {
	text-decoration: none;
	color: #FFFFFF;
}

.left-nav i {
	font-size: 15px;
}
